# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/

# Node
node_modules/
npm-debug.log
yarn-error.log
.expo/

# Models & Datasets
/models/*.pt
/models/*.onnx
/models/datasets/
*.weights
*.h5
*.pb

# OS
.DS_Store
Thumbs.db
